*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Calibri, sans-serif;
  text-rendering: optimizeSpeed;
}

h1,
h2 {
  margin-bottom: 15px;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  margin: 5px 0;
}

ul {
  list-style-type: circle;
}

ul li {
  margin: 5px 0;
}

hr {
  margin: 30px 0;
}

.main-cv {
  display: flex;
  max-width: 768px;
  padding: 50px 15px;
  margin: 0 auto;
}

.main-cv-img {
  width: 200px;
  margin-right: 40px;
}

.main-cv-img .avatar {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin: 0 auto;
}

.main-cv-info {
  flex-grow: 2;
  width: 50%;
}
footer {
  background-color: black;
  width: 100%;
  max-height: auto;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
footer a {
  color: rgb(250, 244, 244);
  font-size: 14px;
  margin-left: 25px;
}
nav {
  padding-top: 10px;
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin: 0 auto;
}

.logo {
  display: block;
  max-width: 100px;
  height: 100px;
  border-radius: 11px;
  margin: 0 auto;
  margin-top: 20px;
}
